<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="\static\css\styles.css" rel="stylesheet">
    <title>{% block title %}Forum{% endblock %}</title>
    {% from "macros.html" import load_header, load_footer, 
    load_categories, load_profile, load_topics %}
</head>
<body>
    {% if request %}
    {{ load_header(get_user(request)) }}
    {% else %}
    {{ load_header() }}
    {% endif %}
    
    {% block content %}
    {% endblock %}
  
    {{ load_footer() }}
</body>
</html>
