{% extends "base.html" %}

{% block title %}Home - Forum{% endblock %}

{% block content %}
<main>
    <section id="home"></section>

    {% if get_user(request) %}
    <section id="feed">
        <h3>Latest Feed</h3>
        <div class="feed-window">
            {% for topic in topics['topics'] %}
            <div class="feed-item">
                <h4>{{ topic.title }}</h4>
                <a href="/topics/{{ topic.topic_id }}/">Read More</a>
            </div> <!-- Close each feed-item -->
            {% endfor %}
        </div>
    </section>
    {% else %}
    <h3>Welcome to the Forum</h3>
    <p>Almost the front page of the Internet!</p>
    {% endif %}
</main>
{% endblock %}
