{% extends "base.html" %}
{% block title %}Register - Forum{% endblock %}
{% block content %}
<main>
    <section id="register">
        <h2>Create an Account</h2>
        <br>
        <form action="/users/register" method="post">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required><br><br>
            
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required><br><br>

            <label for="confirm">Confirm Password:</label>
            <input type="password" id="confirm_password" name="confirm_password" required><br><br>

            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required><br><br>

            <label for="first_name">First Name:</label>
            <input type="text" id="first_name" name="first_name" required><br><br>

            <label for="last_name">Last Name:</label>
            <input type="text" id="last_name" name="last_name" required><br><br>
            
            <button type="submit">Register</button>
        </form>
        {% if error %}
            <section id="errors">
                <p style="color: red;">{{ error }}</p>
            </section>
        {% elif user %}
            <p>Welcome, {{ user.username }}! Your account has been created.</p>
        {% endif %}
    </section>
</main>
{% endblock %}