<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reply</title>
    <link href="../static/css/styles.css" rel="stylesheet">
    {% from "macros.html" import load_header, load_footer %}
</head>
<body>
    {{ load_header() }}
    <section id="reply">
        <h2>{{ reply.title }}</h2>
        <p>{{ reply.content }}</p>
        <p>By: <a href="/users/{{ reply.user.id }}/">{{ reply.user.username }}</a></p>
        <p>On: {{ reply.created_at }}</p>
    </section>
    {{ load_footer() }}
</body>
</html> 